{% extends 'crm/base.html' %}
{% block content %}

    <html>
    <head>
        <meta charset="UTF-8">
        <title>Maverick Food Services</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    </head>
    <body>
    <style>
        body {
            background-color: beige;
        }
    </style>

    <div class="container">
        <div class="row">
            <span class="pull-center"><h3 style="padding-left: 15Px">Customer Information</h3></span>
        </div>

          <div class="row">

                  <table class="table-md table-striped table-bordered table-hover table-condensed table-responsive">
                    <thead>
                    <tr class="bg-info">

                        <th colspan="14" class="col text-left"><a href="{% url 'crm:customer_new' %}" >
                                <span class="btn btn-primary">Add New Customer</span></a></th>
                    </tr>
                    <tr class="bg-info">
                        <th nowrap="true">
                            <a class="glyphicon glyphicon-arrow-down" href="{% url 'crm:customer_order' orderby='cust_name' arrw='asc' %}"></a>
                            Customer Name
                            <a class="glyphicon glyphicon-arrow-up" href="{% url 'crm:customer_order' orderby='cust_name' arrw='desc' %}"></a></th>
                        <th nowrap="true">
                            <a class="glyphicon glyphicon-arrow-down" href="{% url 'crm:customer_order' orderby='organization' arrw='asc' %}"></a>
                            Organization
                            <a class="glyphicon glyphicon-arrow-up" href="{% url 'crm:customer_order' orderby='organization' arrw='desc' %}"></a></th>
                        </th>
                        <th nowrap="true">
                            <a class="glyphicon glyphicon-arrow-down" href="{% url 'crm:customer_order' orderby='role' arrw='asc' %}"></a>
                            Role
                            <a class="glyphicon glyphicon-arrow-up" href="{% url 'crm:customer_order' orderby='role' arrw='desc' %}"></a>
                        </th>
                        <th nowrap="true">
                            <a class="glyphicon glyphicon-arrow-down" href="{% url 'crm:customer_order' orderby='email' arrw='asc' %}"></a>
                            Email
                            <a class="glyphicon glyphicon-arrow-up" href="{% url 'crm:customer_order' orderby='email' arrw='desc' %}"></a>
                        </th>
                        <th nowrap="true">
                            <a class="glyphicon glyphicon-arrow-down" href="{% url 'crm:customer_order' orderby='phone_number' arrw='asc' %}"></a>
                            Phone
                            <a class="glyphicon glyphicon-arrow-up" href="{% url 'crm:customer_order' orderby='phone_number' arrw='desc' %}"></a>
                        </th>
                        <th >

                            Bldg-Room

                        </th>
                        <th nowrap="true">
                            <a class="glyphicon glyphicon-arrow-down" href="{% url 'crm:customer_order' orderby='account_number' arrw='asc' %}"></a>
                            Account
                            <a class="glyphicon glyphicon-arrow-up" href="{% url 'crm:customer_order' orderby='account_number' arrw='desc' %}"></a>
                        </th>
                        <th nowrap="true">Address</th>
                        <th nowrap="true">

                            City

                        </th>
                        <th nowrap="true">
                            <a class="glyphicon glyphicon-arrow-down" href="{% url 'crm:customer_order' orderby='state' arrw='asc' %}"></a>
                            State
                            <a class="glyphicon glyphicon-arrow-up" href="{% url 'crm:customer_order' orderby='state' arrw='desc' %}"></a>
                        </th>
                        <th nowrap="true">

                            Zip Code

                        </th>
                        <th colspan="3" class="col text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for customer in customers %}
                        <tr>
                            <td>{{ customer.cust_name }}</td>
                            <td>{{ customer.organization }}</td>
                            <td>{{ customer.role }}</td>
                            <td>{{ customer.email }}</td>
                            <td nowrap="true">{{ customer.phone_number }}</td>
                            <td>{{ customer.bldgroom }}</td>
                            <td>{{ customer.account_number }}</td>
                            <td nowrap="true">{{ customer.address }}</td>
                            <td>{{ customer.city }}</td>
                            <td>{{ customer.state }}</td>
                            <td>{{ customer.zipcode }}</td>
                            <td><a href="{% url 'crm:customer_edit' pk=customer.pk %}" class="btn btn-warning">Edit</a></td>
                            <td><a href="{% url 'crm:customer_delete' pk=customer.pk %}"
                                   onclick="return confirm('Are you sure you want to delete?')"
                                   class="btn btn-danger">Delete</a>
                            </td>

                             <td><a href="{% url 'crm:summary' pk=customer.pk %}"
                                    class="btn btn-primary">Summary</a></td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
          </div>
             <div class="row">
                 {% include "crm/pagination.html" with page=customers %}


             </div>
    </div>
    </body>
    </html>
{% endblock %}






