{% extends 'crm/base.html' %}
{% block content %}
{% load mathfilters %}
{% load humanize %}

<br/>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
                {% if email_success == 'true' %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">Success !!</div>
                        <div class="panel-body">
                            Summary has been sent to user email id:  {{ user.email }}
                        </div>
                     </div>
                {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <h2 style="padding-left: 15Px">Customer Summary</h2>
    </div>

    <div class="row">
            <table>
                <tr><td class="pull-right"> <a href="{% url 'crm:admin_summary_pdf' pk=customer.pk %}" class="row"><span class="btn btn-primary">E-mail PDF</span></a></td></tr>
            </table>
        <br/>
             <table class="table-md table-striped table-bordered table-hover table-condensed table-responsive">
                    <thead>

                    <tr class="bg-info">
                        <th nowrap="true">Customer Name </th>
                        <th nowrap="true">Organization</th>
                        <th>Role</th>
                        <th>Email</th>
                        <th nowrap="true">Phone</th>
                        <th nowrap="true">Bldg-Room</th>
                        <th>Account</th>
                        <th nowrap="true">Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip Code</th>

                    </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>{{ customer.cust_name }}</td>
                            <td>{{ customer.organization }}</td>
                            <td>{{ customer.role }}</td>
                            <td>{{ customer.email }}</td>
                            <td nowrap="true">{{ customer.phone_number }}</td>
                            <td>{{ customer.bldgroom }}</td>
                            <td>{{ customer.account_number }}</td>
                            <td nowrap="true">{{ customer.address }}</td>
                            <td>{{ customer.city }}</td>
                            <td>{{ customer.state }}</td>
                            <td>{{ customer.zipcode }}</td>
                        </tr>

                    </tbody>
                </table>

    </div>

     <div class="row">
        <span class="pull-center"><h3 style="padding-left: 15Px">Product Information</h3></span>

          <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
            <thead>
                <tr class="bg-info">
                <th>Product</th>
                <th>Description</th>
                <th>Quantity</th>
                <th nowrap="true">Pickup Time</th>
                <th nowrap="true">Total Charge</th>

            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td nowrap="true">{{ product.product }}</td>
                    <td>{{ product.p_description }}</td>
                    <td nowrap="true">{{ product.quantity|intcomma }}</td>
                    <td nowrap="true">{{ product.pickup_time }}</td>
                    <td nowrap="true">{{ product.charge|intcomma }}</td>
                </tr>
            {% endfor %}
            </tbody>
               <thead>
                <tr class="bg-info">
                    <th colspan="4">Total of Product Charges</th>
                    <th>{{ sum_product_charge.charge__sum|intcomma }}</th>
                </tr>
            </thead>
          </table>
</div>
<div class="row">
        <span class="pull-center"><h3 style="padding-left: 15Px">Service Information</h3></span>

          <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
            <thead>
            <tr class="bg-info">
                <th>Service Category</th>
                <th>Description</th>
                <th>Location</th>
                <th nowrap="true">Setup Time</th>
                <th nowrap="true">Cleanup Time</th>
                <th nowrap="true">Service Charge</th>
            </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr>
                    <td nowrap="true">{{ service.service_category }}</td>
                    <td>{{ service.description }}</td>
                    <td nowrap="true">{{ service.location }}</td>
                    <td nowrap="true">{{ service.setup_time }}</td>
                    <td nowrap="true">{{ service.cleanup_time }}</td>
                    <td nowrap="true">{{ service.service_charge|intcomma }}</td>
                </tr>
            {% endfor %}
            </tbody>

            <thead>
                <tr class="bg-info">
                    <th colspan="5">Total of Service Charges</th>
                    <th>{{ sum_service_charge.service_charge__sum|intcomma }}</th>
                </tr>
            </thead>

    </table>
</div>
</div>

{% endblock %}


